{% extends "base.html.twig" %}

{% block title  %}
	Kalita-Paysage
{% endblock %}

{% block contenu %}

	<div class="contener-fluid">
		<figure style="margin:10px;">
			<figcaption class="blockquote-footer">
				<p>
					Nous pouvons réaliser toutes vos envies et vous apporter un nouveau regard.
					Spécialistes, nous réalisons de la conception à l'entretien des jardins en passant par l'aménagement des espaces privés comme urbains.
					Une équipe de professionnels et un matériel adapté permettent un travail de qualité.
					Prenez le temps de visiter nos réalisations et laissez vous tenter en nous contactant dès que possible.
					Toute notre équipe est à votre disposition.
					<strong>Devis gratuit sur simple demande</strong>.</p>
			</figcaption>
		</figure>
	</div>

	<div class="divright" style="text-align:right; margin:10px;">
        <h4 class="ultitle">Nos activités</h4>
		<h5 class="ultitle">Aménagements extérieurs :</h5>
		<ul>
			
			<li>Engazonnement industriel, traditionnel</li>
			<li>Aménagement de talus</li>
			<li>Plantations arbustives, arbres...</li>
			<li>Plantations de haies de tout type</li>
			<li>Réalisation de massifs</li>
			<li>Elagage et abattage</li>
			<li>Fleurissement (vivaces, annuelles, bulbes)</li>
			<li>Terrain de sport</li>
		</ul>
		<h5 class="ultitle">Aménagements intérieurs :</h5>
		<ul>
			<li>Aménagements de patios</li>
			<li>Plantes hydrocultures naturelles</li>

		</ul>
	</div>
{% endblock %}
