<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

			<link rel="stylesheet" href="css/style.css">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

			<title>
				{% block title %}
					Kalita-Paysage.com
				{% endblock %}
			</title>
		</head>
		<body>


			{% block entete %}
				<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
					<div class="container-fluid" style="height:75px;">
						<a class="navbar-brand" href="index.php?page=accueil">
							<h4>Bienvenue sur kalita-Paysage.com</h4>
						</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>

						<div class="collapse navbar-collapse navItem1" id="navbarColor01">
							<ul class="navbar-nav me-auto">
								<li class="nav-item">
									<a class="nav-link active" href="index.php?page=accueil" style="padding-left:15px; ">Accueil</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href"index.php?page=contact">Nous contacter</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="index.php?page=a propos">A propos de nous</a>
								</li>
								<li class="nav-item">
									<a class="nav-link active" href="index.php?page=mentions">Mentions légales</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="collapse navbar-collapse navItem1" id="navbarColor02">
						<ul class="navbar-nav me-auto">
							<li class="nav-item">
								<a class="nav-link active" href="index.php?page=connexion">Connexion</a>
							</li>
						</ul>
					</div>
				</nav>
			{% endblock %}
			{% block navmenu %}
				<div class="container-fluid"></div>

			{% endblock %}

			<div class="jumbotron">
				<h1 class="display-4">
					{% block titlejumbotron %}
						Kalita-paysage
					{% endblock %}
				</h1>
				{% block jumbotroncontent %}
					<p class="lead" style="padding-top:12px;">Jeune entreprise dynamique située à Duisans, près d'Arras, nous mettons à votre service nos compétences pour embellir les paysages qui vous entourent.</p>
					<hr class="my-4">
					<p>Avec l'agrément Services à la Personne, bénéficiez d'une réduction d'impôt sur le revenu à hauteur de 50% sur de petits travaux de jardinage. Cliquez ici pour plus d'informations sur le SAP.</p>
					<p class="lead">
						<a class="btn btn-info btn-lg" href="index.php?page=a propos" role="button">En savoir plus</a>
					</p>
				{% endblock %}
			</div>

			{% block contenu %}{% endblock %}
			{% block footer %}{% endblock %}


			<!-- jquerry -->
			<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
			<!-- poppers -->
			<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
			<!--bootstrap js -->
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		</body>
	</head>
</html>
