{% extends "base.html.twig" %}

{% block title %}
	Connexion
{% endblock %}
{% block titlejumbotron %}
	Cette page est réservée a l'administrateur
{% endblock %}
{% block jumbotroncontent %}{% endblock %}
{% block contenu %}


	<form style="margin:15px;" >
		<fieldset>
			<legend>Connexion</legend>
			
			<div class="form-group" action="index.php?page=connexion" method="post" enctype="application/x-www-formurlencoded">
				<label for="InputEmail" class="form-label mt-4">Email address</label>
				<input type="email" class="form-control" name ="inputEmail" id="InputEmail" aria-describedby="emailHelp" placeholder="Adresse Email">
			</div>
			<div class="form-group">
				<label for="InputPassword" class="form-label mt-4">Mot de passe</label>
				<input type="password" class="form-control" name ="inputPassword" id="InputPassword" placeholder="Mot de passe">
			</div>


			
        <button type="button" class="btn btn-outline-success" name="btn_connexion">Connexion</button>
		</fieldset>
	</form>


{% endblock %}
