{% extends "base.html.twig" %}

{% block title  %}
	Prendre contact
{% endblock %}

{% block titlejumbotron %}
	Prendre contact
{% endblock %}
{% block jumbotroncontent %}
	<h5>Coordonnées</h5></br>
    <h6>Christophe KALITA</h6></br>
    <p>Entretien Espaces Verts
		Création Élagage</p></br>
        <h6><strong>Adresse :</strong></h6>
        2 allée des Eglantines</br>
        62161 Duisans
    </p>
    Fixe : 03 21 22 07 81 </br>
    Portable : 06 72 07 11 46</br>
    Email : christophekalita@gmail.com
{% endblock %}
{% block contenu %}{% endblock %}
