{% extends "base.html.twig" %}

{% block title %}
	Inscription
{% endblock %}
{% block titlejumbotron %}
	Nouvel utilisateur
{% endblock %}

{% block jumbotroncontent %}{% endblock %}
{% block contenu %}
	{% if form.valide is defined %}
		{% if form.valide == true %}
			<h1>Inscription réussie</h1>
			<h1>Voici votre identifiant :
				{{form.email}}</h1>
			{% if form.role == 1 %}
				<h1>Vous êtes administrateur du site</h1>
			{% else %}
				<h1>Vous êtes un client du site
				</h1>
			{% endif %}
		{% else %}
			<h1>Echec de l'inscription</h1>
			<h1>Erreur :
				{{form.message}}</h1>
			<h1>
				<a href="index.php?page=inscrire">Retourner sur la page d'inscription</a>
			</h1>
		{% endif %}

	
{% else %}
	<form action="index.php?page=inscrire" method="post" enctype="application/x-www-formurlencoded" style="margin:10px; padding:5px;">


		<label for="inputName" class="form-label mt-4">Nom</label>
		<input type="name" class="form-control" id="inputName" aria-describedby="nameHelp" placeholder="Nom">

		<label for="inputPrenom" class="form-label mt-4">Prenom</label>
		<input type="prenom" class="form-control" id="inputPrenom" aria-describedby="prenomHelp" placeholder="Prenom">

		<label for="inputEmail" class="form-label mt-4">Adresse Email</label>
		<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email">

		<label for="inputPassword1" class="form-label mt-4">Mot de passe</label>
		<input type="password" class="form-control" id="inputPassword1" placeholder="Mot de passe">

		<label for="inputpassword2" class="form-label mt-4">Confirmer le mot de passe</label>
		<input type="password" class="form-control" id="inputpassword2" placeholder="Mot de passe">

		<button href="index.php?page=inscription" class="btn btn-primary" type="submit" name="btInscrire" style="margin-top:5px; margin-bottom:60px">
			S'inscrire
		</button>
	</form>
{% endif %}{% endblock %}
