.divright{

    background-color: lightgray;

}

ul{

    list-style: none;
    padding-right: 15px;
}
.ultitle{

    padding-right: 15px;

}

.jumbotron{

    background-image: url(../images/kalita.jpg);

}
